@import './style.variables.scss';
.text-align-center{
    text-align: center;
}
.container{
    margin-left : 5rem;
    margin-right: 5rem;
}
.margin-top-medium{
    margin-top: $margin-top-medium;
}
.rounded-image{
    border-radius: 50%;
}
.float-right{
    float:right
}